.bg-secondary {
  background-color: #684fa3 !important; /* Milka purple */
}

.bg-primary {
    /*background-color: #1abc9c !important;*/ /* Default */
    /*background-color: #98b15d !important;*/ /* Complement of Milka purple */
    background-color: #98b15d !important;
}

.footer {
  background-color: #684fa3 !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}

.py-4 {
    padding-bottom: 1.0rem !important;
    padding-top: 1.0rem !important;
}

#hakkimda-img {
    width: 50%;
}


@media (min-width: 992px) {
  #hakkimda-img {
      width: 80%;
  }
}
