.bg-secondary {
  background-color: #684fa3 !important; /* Milka purple */
}

.btn-primary {
    /*background-color: #1abc9c;*/ /* default */
    background-color: #808080;
    border-color: #808080;
}

.btn-primary:hover {
    /*background-color: #159a80;*/
    background-color: #404040;
    border-color: #404040;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #a0a0a0;
}

@media (min-width: 992px) {
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    background: #a0a0a0;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #fff;
    background: #a0a0a0;
  }
}

.navbar-brand {
    padding-buttom: 0rem;
    padding-top: 0rem;
}

#mainNav {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


.footer {
    background-color: #684fa3 !important;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}

.py-4 {
    padding-bottom: 1.0rem !important;
    padding-top: 1.0rem !important;
}

#hakkimda-img {
    width: 50%;
}


@media (min-width: 992px) {
  #hakkimda-img {
      width: 80%;
  }
}

.blog-box, .iletisim-formu-box {
    margin-top: 40px;
    margin-buttom: 40px;
    padding: 20px;
    border: grey
    background-color: #fff0f0;
    box-shadow:10px 10px 15px grey;
}

/* @media (min-width: 992px) { */
/*     .blog-box { */
/* 	margin-right: 100px; */
/* 	margin-left: 100px; */
/*     } */
/* } */

.iletisim-formu-box {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 0px;
    padding-buttom: 0px;
}

@media (min-width: 992px) {
    .yazi {
	padding-right: 100px;
	padding-left: 100px;
    }
}

.yazi {
    text-align: justify;
}
